@font-face {
  font-family: "Nexa Slab";
  src: url("../public/fonts/NexaSlab/NexaSlab-Light.woff2") format("woff2"),
    url("/fonts/NexaSlab/NexaSlab-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Nexa Slab";
  src: url("../public/fonts/NexaSlab/NexaSlabBlack.woff2") format("woff2"),
    url("/fonts/NexaSlab/NexaSlabBlack.woff") format("woff");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Nexa Slab";
  src: url("../public/fonts/NexaSlab/NexaSlab-Bold.woff2") format("woff2"),
    url("/fonts/NexaSlab/NexaSlab-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Nexa Slab";
  src: url("../public/fonts/NexaSlab/NexaSlab-Regular.woff2") format("woff2"),
    url("/fonts/NexaSlab/NexaSlab-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}


